<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5 text-center text-white align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3" style=""><b>Portal COVID</b></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-7 d-flex flex-column justify-content-center">
          <h3 class="display-4 mb-3">Seu primeiro acesso</h3>
          <p class="mb-4 lead">Seja bem-vindo(a)! Utilize formulário para se cadastrar no portal. Caso já tenha cadastro, clique em 'Já possuo cadastro'.</p>
        </div>
        <div class="p-5 col-md-5">
          <h3 class="mb-3">Cadastre-se preenchendo os campos</h3>
          <form method="POST" action="/cadastro">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input name="email" id="email" class="form-control" placeholder="seu@email.com" type="email" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input name="senha" id="senha" type="password" class="form-control" placeholder="••••••" required>
            </div>
            <button type="submit" class="btn mt-4 btn-block btn-outline-dark p-2"><b>Cadastrar</b></button>
            <a href="/" class="btn mt-2 btn-block btn-link p-2">
                Já possuo cadastro
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark py-3">
    <div class="container">
      <div class="bg-dark text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="mb-0">© 2021 UCL - Caio Souza (caiorss@ucl.br) e Savio Fonseca (saviofonseca@ucl.br)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>